<div class="login-div">

    <mat-card class="login-mat-card">

        <mat-card-header>
            <mat-card-title>Sign In</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <mat-form-field appearance="fill">
                    <mat-label>username</mat-label>
                    <input matInput type="text" formControlName="username" >
                </mat-form-field>

                <br>

                <mat-form-field appearance="fill">
                    <mat-label>password</mat-label>
                    <input matInput type="password" formControlName="password" >
                </mat-form-field>

                <br>
                
                <button type="submit" mat-flat-button color="primary">SIGN IN</button>
                <mat-error *ngIf="error.length>0">{{error}}</mat-error>
            </form>

        </mat-card-content>

    </mat-card>

</div>
